body {
  margin: 0;
  background-color: black;
}

.outer {
  background-color: #308dc0;
  border: 1px solid #e75551;
  width: 348px;
  margin: 20px 20px 40px;
}

.inner {
  background-color: orange;
  border: 1px solid #e75551;
  margin: 10px;
  padding: 10px;
}

.text {
  background-color: #ddd;
  border: 1px solid #e75551;
  padding: 10px;
}
